body {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
.operations {
  margin: 0 auto;
  text-align: center;
}
#board {
  width: 600px;
  height: 600px;
  margin: 40px auto;
  /* background-color: red; */
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.cell {
  position: relative;
  flex-grow: 1;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #000;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.white {
  background: radial-gradient(closest-side, #f9f9f9, #d1d1d1);
}

.black {
  background: radial-gradient(closest-side, white, black);
}
